<ion-view view-title="{{currentProject.projectname}} Product Backlog">
 <!-- <ion-header-bar>
 	<button class="button button-clear icon ion-navicon" ng-click="goProjectlist()"></button>
 	<h1 class="title">Product Backlog</h1>
 	<button class="button button-clear icon ion-more" ng-click="more()"></button>
</ion-header-bar> -->

  <ion-nav-buttons side="left">
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-more" ng-click="more()"></button>
</ion-nav-buttons>
<ion-header-bar class="bar-subheader">
<div class="button-bar">
  <a class="button button-outline button-royal" ng-click="showH()" ng-class="{'active':prioritystate==1}">High</a>
  <a class="button button-outline button-calm" ng-click="showM()" ng-class="{'active':prioritystate==2}">Medium</a>
  <a class="button button-outline button-balanced" ng-click="showL()" ng-class="{'active':prioritystate==3}">Low</a>
</div>
</ion-header-bar>


<ion-content>
 <ion-list  can-swipe="listCanSwipe">
  <ion-item ng-repeat="task in tasks" ng-if="priority==task.priority" class="card item {{task.state}}" ng-click="openTask(task)" high="10px">
	  <div class="item-avatar">
    <img ng-src="/img/wor.png">
    <div class="row row-top " >
      <div class="col col-75">{{task.tasktitle}}</h2></div>
      <div class="col">{{task.state}}</div>
    </div>

    <div class="row">
       <div class="col col-50"><p><b>{{task.priority}}</b></p></div>
       <div class="col"></div>
    <div class="col"><p>{{task.estimate}} Days</p></div>
    </div>  
    <ion-option-button class="buntton-minus-circled"
                       ng-click="tasks.splice($index, 1)">
      Delete
    </ion-option-button>
   </div>
  </ion-item>

</ion-list>
</ion-item>
</ion-list>
</ion-content>
