<ion-view view-title="Setting">

  <ion-nav-buttons side="left">
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-more" ng-click="more()"></button>
</ion-nav-buttons>

  <ion-content>
  <div class="list">
    <div class="card" >
    Team 1
  	<a class="item item-avatar" href="#">
      <img src="img/wor.png">
      <h2>Worakrit </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/belle.jpg">
      <h2>Belle</h2>
    </a>
    </div>
    <div class="card">
      Team 2
     <a class="item item-avatar" href="#">
      <img src="img/ray.jpg">
      <h2>Ray</h2>
    </a>
    </div>
</div>
  </ion-content>
</ion-view>
