<ion-modal-view ng-controller="TaskCtrl">
  <ion-header-bar>
    <h1 class="title {{taskModel.state}}">{{taskModal.tasktitle}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeTask()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content >
  <ion-checkbox ng-model="checked" ng-check="checked" >Pin</ion-checkbox>
      <div class="item item-avatar">
    <img src="img/wor.png">
      <h2>Worakrit </h2>   
      <div class="button-bar">
        <a class="button button-outline button-royal" ng-click="setState('Todo')"  ng-class="{'active':taskModal.state=='Todo'}">Todo</a>
        <a class="button button-outline button-calm" ng-click="setState('Doing')" ng-class="{'active':taskModal.state=='Doing'}">Doing</a>
        <a class="button button-outline button-balanced" ng-click="setState('Done')" ng-class="{'active':taskModal.state=='Done'}">Done</a>
      </div>
  </div>

  <div class="item item-body">
    <p>
      <p><span style="color:blue"> Estimate </span>: {{taskModal.estimate}} Days </p>
      <p><span style="color:blue"> Sprint </span>: {{taskModal.sprint}}</p>
      <p><span style="color:blue"> TEAM </span> : Team 1 </p>
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
  </div>

  </ion-content>
</ion-modal-view>
