.Todo{
	/*border-color: #F6CED8 !important;*/
	background-color: #F2E0F7 !important; 	

}
.Doing{
	/*border-color: #CECEF6 !important;*/
	background-color: #CEF6F5 !important;
	
}
.Done{	
	background-color: #BCF5A9 !important;
}

	